@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.ATENDIMENTO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Atendimentos</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Atendimentos</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Atendimentos</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Atendimentos</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Atendimentos Cadastrados</small>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">Hoje</span>
                    <h5>Resumo de Atendimentos</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">Em Criação</small>
                            <h4>@ViewBag.Criados</h4>
                        </div>

                        <div class="col-xs-4">
                            <small class="stats-label">Aguardando</small>
                            <h4>@ViewBag.Aguardando</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">Cancelados</small>
                            <h4>@ViewBag.Canceladas</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">Em Execução</small>
                            <h4>@ViewBag.Execucoes</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">Encerrados</small>
                            <h4>@ViewBag.Encerradas</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>           
            
                @using (Html.BeginForm("FiltrarAtendimento", "Atendimento", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Categoria do Atendimento
                                    @Html.DropDownListFor(m => m.CAAT_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control", autofocus = true })                            
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Cliente
                                    @Html.DropDownListFor(m => m.CLIE_CD_ID, (SelectList)ViewBag.Clientes, "Selecionar", new { @class = "form-control", autofocus = true })                            
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Responsável
                                    @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control", autofocus = true })                            
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Data
                                    @Html.TextBoxFor(m => m.ATEN_DT_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Status
                                    @Html.DropDownListFor(m => m.ATEN_IN_STATUS, (SelectList)ViewBag.Status, "Selecionar", new { @class = "form-control", autofocus = true })                            
                                </div>
                                <div class="col-lg-10 col-md-10 col-xs-12">
                                    Assunto
                                    @Html.TextBoxFor(m => m.ATEN_NM_ASSUNTO, new { @class = "form-control", autofocus = true })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    @Html.ButtonActionSubmit(text: "Filtrar")
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Atendimento", action: "RetirarFiltroAtendimento")
                                    @Html.ButtonLinkIndex(text: "Exibir Todos", controller: "Atendimento", action: "MostrarTudoAtendimento")
                                    @Html.ButtonLinkIndex(text: "Novo Atendimento", controller: "Atendimento", action: "IncluirAtendimento")
                                    @Html.ButtonLinkIndex(text: "Exibir Quadro", controller: "Atendimento", action: "MontarTelaAtendimentoQuadro")
                                    @Html.ButtonLinkIndex(text: "Listagem de Atendimentos (Filtro)", controller: "Atendimento", action: "GerarRelatorioResumo")
                                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Atendimento", action: "Voltar")
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Atendimentos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                            @if ((ViewBag.Listas as List<EntitiesServices.Model.ATENDIMENTO>).Count > 0)                                        {
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead style ="background-color:lightsteelblue">
                                        <tr>
                                            <th>Data/Hora Início</th>
                                            <th>Categoria</th>   
                                            <th>Cliente</th>   
                                            <th>Responsável</th>
                                            <th>Assunto</th>
                                            <th>Status</th>   
                                            <th class="td-one-action">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.ATENDIMENTO>).OrderByDescending(p => p.ATEN_DT_INICIO))
                                        {
                                            <tr>
                                                <td>@cond.ATEN_DT_INICIO.Value.ToShortDateString() @cond.ATEN_DT_INICIO.Value.ToShortTimeString()</td>
                                                <td>@cond.CATEGORIA_ATENDIMENTO.CAAT_NM_NOME</td>
                                                <td>@cond.CLIENTE.CLIE_NM_NOME</td>
                                                <td>@cond.USUARIO.USUA_NM_NOME</td>
                                                <td>@cond.ATEN_NM_ASSUNTO</td>
                                                @if (cond.ATEN_IN_STATUS == 1)
                                                {
                                                    <td>Criação</td>
                                                }
                                                else if (cond.ATEN_IN_STATUS == 2)
                                                {
                                                    <td>Aguardando</td>
                                                }
                                                else if (cond.ATEN_IN_STATUS == 3)
                                                {
                                                    <td>Cancelado</td>
                                                }
                                                else if (cond.ATEN_IN_STATUS == 4)
                                                {
                                                    <td>Em Execução</td>
                                                }
                                                else if (cond.ATEN_IN_STATUS == 5)
                                                {
                                                    <td>Encerrado</td>
                                                }
                                                <td class="td-one-action">
                                                    @Html.TableLinkDetails(cond.ATEN_CD_ID, "VerAtendimento","fa-search", "Consultar")
                                                    @Html.TableLinkDetails(cond.ATEN_CD_ID, "EditarAtendimento","fa-edit", "Editar/Consultar")
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
            .css("display", "normal")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Selecione uma data",
                text: false 
            });
        });
    </script>  
    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

