@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.TAREFA
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Tarefas</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarAdmin", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Tarefas</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Tarefas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Tarefas</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Tarefas Cadastrados</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Tarefas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.TarefasPendentes</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Tarefas Pendentes</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Tarefas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.TarefasEncerradas</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Tarefas Encerradas</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                @using (Html.BeginForm("FiltrarTarefa", "Tarefa", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Tipo de Tarefa
                                @Html.DropDownListFor(m => m.TITR_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Título
                                @Html.TextBoxFor(m => m.TARE_NM_TITULO, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Data de Início
                                @Html.TextBoxFor(m => m.TARE_DT_CADASTRO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Status
                                @Html.DropDownListFor(m => m.TARE_IN_STATUS, (SelectList)ViewBag.Status, "Selecionar", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Tarefa", action: "RetirarFiltroTarefa")
                                @Html.ButtonLinkIndex(text: "Exibir Todos", controller: "Tarefa", action: "MostrarTudoTarefa")
                                @Html.ButtonLinkIndex(text: "Nova Tarefa", controller: "Tarefa", action: "IncluirTarefa")
                                @Html.ButtonLinkIndex(text: "Visualização Lista", controller: "Tarefa", action: "MontarTelaTarefa")
                                @Html.ButtonLinkIndex(text: "Gerar Relatório", controller: "Tarefa", action: "GerarRelatorioLista")
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "Tarefa", action: "Voltar")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="ibox-title">
                <h5>Tarefas</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-3">
                        <h3>Pendente</h3>
                        <ul class="sortable-list connectList agile-list ui-sortable" data-classe="warning-element" data-status="1" id="pendente">
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>Suspensa</h3>
                        <ul class="sortable-list connectList agile-list ui-sortable" data-classe="warning-element" data-status="2" id="suspensa">
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>Cancelada</h3>
                        <ul class="sortable-list connectList agile-list ui-sortable" data-classe="danger-element" data-status="3" id="cancelada">
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3>Realizada</h3>
                        <ul class="sortable-list connectList agile-list ui-sortable" data-classe="success-element" data-status="4" id="realizada">
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <br />
                        @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaTarefa", controller: "Tarefa")
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script>
        $.ajax({
            url: '../Tarefa/GetTarefas'
            , type: 'POST'
            , success: function (r) {
                r.forEach(function (e) {
                    var element = $('<li class="ui-sortable-handle" data-id="' + e.TARE_CD_ID + '">'
                        + e.TARE_NM_TITULO
                        + '<div class="agile-detail">'
                        + '<i class="fa fa-clock-o"></i>'
                        + e.TARE_DT_ESTIMADA
                        + '</div>'
                        + '</li>');

                    if (e.TARE_IN_STATUS == 1) { // pendente
                        element.addClass('warning-element');
                        $('#pendente').append(element);
                    }
                    if (e.TARE_IN_STATUS == 2) { // suspensa
                        element.addClass('warning-element');
                        $('#suspensa').append(element);
                    }
                    if (e.TARE_IN_STATUS == 3) { // cancelada
                        element.addClass('danger-element');
                        $('#cancelada').append(element);
                    }
                    if (e.TARE_IN_STATUS == 4) { // finalizada
                        element.addClass('success-element');
                        $('#realizada').append(element);
                    }
                });
            }
        });

        $(function () {
            $('.connectList').sortable({
                connectWith: $('.connectList')
                , start: function (event, ui) {
                    ui.item.removeClass(ui.item.parent().attr('data-classe'));
                }
                , stop: function (event, ui) {
                    ui.item.addClass(ui.item.parent().attr('data-classe'));

                    var data = {
                        id: ui.item.attr('data-id')
                        , status: ui.item.parent().attr('data-status')
                    }

                    $.ajax({
                        url: '../Tarefa/EditarStatusTarefa'
                        , type: 'POST'
                        , data: data
                        , success: function (e) {
                            console.log(e);
                        }
                    });
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
            .css("display", "normal")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Selecione uma data",
                text: false
            });
        });
    </script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

