@using EntitiesServices.Work_Classes;
@using Presentation.Extensions
@using CrossCutting
@model SystemBRPresentation.ViewModels.UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="text-thin" style="color: darkgreen">Portal SystemBR</h2>
        <br />
    </div>
</div> 
<div class="wraper container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="ibox-content text-center">
                        <h1>@Model.USUA_NM_NOME.Substring(0, Model.USUA_NM_NOME.IndexOf(" "))</h1>
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="@Url.Content(Model.USUA_AQ_FOTO)" style = "width: auto; height: auto; max-height: 90px; max-width: 90px;">
                        </div>
                        <p class="font-bold">@Model.CARGO.CARG_NM_NOME</p>

                        <div class="text-center">
                            @Html.ButtonLinkIndex(text: "Perfil", action: "MontarTelaPerfilUsuario", controller: "Usuario", buttonClass: "btn btn-xs btn-white" )
                            @if (Model.PERFIL.PERF_SG_SIGLA == "ADM")
	                        {
                                @Html.ButtonLinkIndex(text: "Dashboard Inicial", action: "CarregarBase", controller: "BaseAdmin", buttonClass: "btn btn-xs btn-primary" )
	                        }    
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Pedidos de Venda</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">No dia</small>
                                    <h4>@SessionMocks.NumPedidosDia</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">No Mês</small>
                                    <h4>@SessionMocks.NumPedidosMes</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">No Ano</small>
                                    <h4>@SessionMocks.NumPedidosAno</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Dia (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.PedidosDia)</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Mês (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.PedidosMes)</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Ano (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.PedidosAno)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Estoque (R$)</h5>
                        </div>
                        <div class="ibox-content">
                            <br />
                            <h4 class="no-margins">Produtos:  R$ @CrossCutting.Formatters.DecimalFormatter(SessionMocks.estoqueProd)</h4>
                            <br />
                            <h4 class="no-margins">Insumos: R$  @CrossCutting.Formatters.DecimalFormatter(SessionMocks.estoqueInsumo)</h4>
                            <br />
                            <small>Estoque Financeiro</small>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Contas a Pagar</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Dia (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CPDia)</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Mês (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CPMes)</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Ano (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CPAno)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Contas a Receber</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Dia (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CRDia)</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Mês (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CRMes)</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Ano (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CRAno)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Caixa</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Dia (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CaixaDia)</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Mês (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CaixaMes)</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Ano (R$)</small>
                                    <h4>@CrossCutting.Formatters.DecimalFormatter(SessionMocks.CaixaAno)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Produtos</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@SessionMocks.ProdPontoPedido</h1>
                            <small>Ponto de Pedido</small>
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Produto", action: "VerProdutosPontoPedido", buttonClass: "white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Produtos</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@SessionMocks.ProdEstoqueZerado</h1>
                            <small>Estoque Zerado</small>
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Produto", action: "VerProdutosEstoqueZerado", buttonClass: "white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Insumos</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@SessionMocks.InsPontoPedido</h1>
                            <small>Ponto de Pedido</small>
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Insumo", action: "VerInsumosPontoPedido", buttonClass: "white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Insumos</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@SessionMocks.InsEstoqueZerado</h1>
                            <small>Estoque Zerado</small>
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Insumo", action: "VerInsumosEstoqueZerado", buttonClass: "white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Equipamentos - Manutenção</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@SessionMocks.numEquipamentos</h1>
                            <small>Manutenções Vencidas</small>
                            <br />
                            @Html.ButtonLinkIndex(text: "Ver", controller: "Equipamento", action: "VerManutencoesVencidas", buttonClass: "white")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Resumo de Pedidos de Vendas</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    @if (SessionMocks.filtroData == 1)
	                                {
                                        @Html.ButtonLinkIndex(text: "Mês Corrente", controller: "BaseAdmin", action: "DashMesCorrente", buttonClass: "primary")
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Mês Corrente", controller: "BaseAdmin", action: "DashMesCorrente", buttonClass: "white")
                                    }
                                    @if (SessionMocks.filtroData == 2)
	                                {
                                        @Html.ButtonLinkIndex(text: "Ano Corrente", controller: "BaseAdmin", action: "DashAnoCorrente", buttonClass: "primary")
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Ano Corrente", controller: "BaseAdmin", action: "DashAnoCorrente", buttonClass: "white")
                                    }
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    @if (SessionMocks.filtroStatus == 1)
	                                {
                                        @Html.ButtonLinkIndex(text: "Para Aprovação", controller: "BaseAdmin", action: "DashParaAprovacao", buttonClass: "primary")
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Para Aprovação", controller: "BaseAdmin", action: "DashParaAprovacao", buttonClass: "white")
                                    }
                                    @if (SessionMocks.filtroStatus == 2)
	                                {
                                        @Html.ButtonLinkIndex(text: "Aprovados", controller: "BaseAdmin", action: "DashAprovados", buttonClass: "primary")
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Aprovados", controller: "BaseAdmin", action: "DashAprovados", buttonClass: "white")
                                    }
                                    @if (SessionMocks.filtroStatus == 3)
	                                {
                                        @Html.ButtonLinkIndex(text: "Encerrados", controller: "BaseAdmin", action: "DashEncerrados", buttonClass: "primary")
                                    }
                                    else
                                    {
                                        @Html.ButtonLinkIndex(text: "Encerrados", controller: "BaseAdmin", action: "DashEncerrados", buttonClass: "white")
                                    }
                                </div>
                                <br />
                            </div>
                            @if ((SessionMocks.listaResumos as List<EntitiesServices.Model.RESUMO_VENDA>).Count > 0) 
                            {
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Data</th>   
                                            <th>Número</th>   
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cond in (SessionMocks.listaResumos as List<EntitiesServices.Model.RESUMO_VENDA>).OrderBy(p => p.REVE_DT_DATA).ToList())
                                        {
                                            <tr>
                                                <td>@cond.REVE_DT_DATA.Value.ToShortDateString()</td>
                                                <td>@cond.REVE_NR_NUMERO</td>
                                                <td>@CrossCutting.Formatters.DecimalFormatter(cond.REVE_VL_VALOR.Value)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {
   
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    //{ extend: 'copy' },
                    //{ extend: 'csv' },
                    //{ extend: 'excel', title: 'Excel' },
                    //{ extend: 'pdf', title: 'PDF' },

                    {
                        //extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([5, 12, 6, 4, 15, 1, 11, 8], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline2").sparkline([1, 3, 6, 2, 7, 1, 5, 3], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <!-- Start of gestaosublimacao Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=7264a3f5-b9ef-453c-ad6c-8293af61584a"> </script>
    <!-- End of gestaosublimacao Zendesk Widget script -->

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
