@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.FUNCIONARIO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Funcionários</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Funcionários</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Funcionários</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Func</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Funcionários Cadastrados</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>           
            
                @using (Html.BeginForm("FiltrarFunc", "Funcionario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Situação
                                    @Html.DropDownListFor(m => m.SITU_CD_ID, (SelectList)ViewBag.Situacao, "Selecionar", new { @class = "form-control" })                            
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Nome
                                    @Html.TextBoxFor(m => m.FUNC_NM_NOME, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    CPF
                                    @Html.TextBoxFor(m => m.FUNC_NR_CPF, new { @class = "form-control", @id="cpf", autofocus = true })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    RG
                                    @Html.TextBoxFor(m => m.FUNC_NR_RG, new { @class = "form-control", autofocus = true })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    Função
                                    @Html.DropDownListFor(m => m.FNCA_CD_ID, (SelectList)ViewBag.Funcao, "Selecionar", new { @class = "form-control" })                            
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    @Html.ButtonActionSubmit(text: "Filtrar")
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Funcionario", action: "RetirarFiltroFunc")
                                    @Html.ButtonLinkIndex(text: "Exibir Todos", controller: "Funcionario", action: "MostrarTudoFunc")
                                    @Html.ButtonLinkIndex(text: "Novo Funcionário", controller: "Funcionario", action: "IncluirFunc")
                                    @Html.ButtonLinkIndex(text: "Exibir Cards dos Funcionários", controller: "Funcionario", action: "VerCardsFunc")
                                    @Html.ButtonLinkIndex(text: "Gerar Relatório", controller: "Funcionario", action: "GerarRelatorioLista")
                                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Funcionario", action: "Voltar")
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Funcionários</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                            @if ((ViewBag.Listas as List<EntitiesServices.Model.FUNCIONARIO>).Count > 0)                                        {
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead style ="background-color:lightsteelblue">
                                        <tr>
                                            <th>Situação</th>   
                                            <th>Nome</th>   
                                            <th>CPF</th>
                                            <th>RG</th>
                                            <th>Função</th>   
                                            <th>Telefone</th>
                                            <th>Celular</th>   
                                            <th></th>
                                            <th class="td-one-action">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.FUNCIONARIO>))
                                        {
                                            <tr>
                                                <td>@cond.SITUACAO.SITU_NM_NOME</td>
                                                <td>@cond.FUNC_NM_NOME</td>
                                                <td>@cond.FUNC_NR_CPF</td>
                                                <td>@cond.FUNC_NR_RG</td>
                                                <td>@cond.FUNCAO.FNCA_NM_NOME</td>
                                                <td>@cond.FUNC_NR_TELEFONE</td>
                                                <td>@cond.FINC_NR_CELULAR</td>
                                                <td><img src="@Url.Content(cond.FUNC_AQ_FOTO)" style = "width: auto; height: auto; max-height: 55px; max-width: 45px;" data-toggle="modal" data-target="#fotoModal" onclick="CriaModal('@cond.FUNC_NM_NOME', '@Url.Content(cond.FUNC_AQ_FOTO)')"></td>
                                                <td class="td-one-action">
                                                    @Html.TableLinkDetails(cond.FUNC_CD_ID, "EditarFunc","fa-edit", "Editar/Consultar")
                                                    @if (cond.FUNC_IN_ATIVO == 1)
	                                                {
                                                        @Html.TableLinkDetails(cond.FUNC_CD_ID, "ExcluirFunc","fa-trash-o", "Desativar")
                                                    }
                                                    else
                                                    {   
                                                        @Html.TableLinkDetails(cond.FUNC_CD_ID, "ReativarFunc","fa-refresh", "Reativar")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

