@using Presentation.Extensions
@model SystemBRPresentation.ViewModels.ClienteViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Clientes</h3> 
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cliente - Edição</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                @using (Html.BeginForm("EditarCliente", "Cadastros", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <br />
                                    <img src="@Url.Content(Model.CLIE_AQ_FOTO)" style = "width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                </div>                       
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    @Html.HiddenFor(m => m.CLIE_CD_ID)
                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                    @Html.HiddenFor(m => m.CLIE_DT_CADASTRO)
                                    @Html.HiddenFor(m => m.CLIE_IN_ATIVO)
                                    @Html.HiddenFor(m => m.MATR_CD_ID)
                                    @Html.HiddenFor(m => m.FILI_CD_ID)
                                    @Html.HiddenFor(m => m.CLIE_AQ_FOTO)
                                    @*@Html.HiddenFor(m => m.CLIENTE_ANEXO)*@
                                    @*@Html.HiddenFor(m => m.CONTA_RECEBER)
                                    @Html.HiddenFor(m => m.CONTRATO)
                                    @Html.HiddenFor(m => m.OPORTUNIDADE_NEGOCIO)
                                    @Html.HiddenFor(m => m.PEDIDO_SERVICO)
                                    @Html.HiddenFor(m => m.PEDIDO_VENDA)
                                    @Html.HiddenFor(m => m.PROPOSTA_SERVICO)
                                    @Html.HiddenFor(m => m.PROPOSTA_VENDA)
                                    @Html.HiddenFor(m => m.TICKET_ATENDIMENTO)*@
                                    Categoria*
                                    @Html.DropDownListFor(m => m.CACL_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control" })                            
                                    @Html.ValidationMessageFor(m => m.CACL_CD_ID, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Filial
                                    @Html.DropDownListFor(m => m.FILI_CD_ID, (SelectList)ViewBag.Filiais, "Selecionar", new { @class = "form-control" })                            
                                    @Html.ValidationMessageFor(m => m.FILI_CD_ID, "",new { @style="color:red" })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Nome*
                                    @Html.TextBoxFor(m => m.CLIE_NM_NOME, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NM_NOME, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Razão Social
                                    @Html.TextBoxFor(m => m.CLIE_NM_RAZAO, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NM_RAZAO, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    CPF
                                    @Html.TextBoxFor(m => m.CLIE_NR_CPF, new { @class = "form-control", @id = "cpf", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NR_CPF, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    CNPJ
                                    @Html.TextBoxFor(m => m.CLIE_NR_CNPJ, new { @class = "form-control", @id = "cnpj", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NR_CNPJ, "",new { @style="color:red" })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    E-Mail*
                                    @Html.TextBoxFor(m => m.CLIE_NM_EMAIL, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NM_EMAIL, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Telefone
                                    @Html.TextBoxFor(m => m.CLIE_NR_TELEFONES, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NR_TELEFONES, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Redes Sociais
                                    @Html.TextBoxFor(m => m.CLIE_NM_REDES_SOCIAIS, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NM_REDES_SOCIAIS, "",new { @style="color:red" })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-3 col-md-3 col-xs-12">                                
                                    CEP
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.CLIE_NR_CEP, new { @class = "form-control",  @id="cep", autofocus = true })
                                        @Html.ValidationMessageFor(m => m.CLIE_NR_CEP, "",new { @style="color:red" })
                                        <span class="input-group-btn">
                                            @Html.ButtonLinkIndex(text: "Buscar CEP", action: "BuscarCEPCliente", controller: "Cadastros", buttonClass: "warning", routeValues:  new { item = Model})
                                        </span>
                                    </div>
                                </div>                                   
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">              
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    Endereço
                                    @Html.TextBoxFor(m => m.CLIE_NM_ENDERECO, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NM_ENDERECO, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Bairro
                                    @Html.TextBoxFor(m => m.CLIE_NM_BAIRRO, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NM_BAIRRO, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Cidade
                                    @Html.TextBoxFor(m => m.CLIE_NM_CIDADE, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_NM_CIDADE, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-12">
                                    UF
                                    @Html.TextBoxFor(m => m.CLIE_SG_UF, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.CLIE_SG_UF, "",new { @style="color:red" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ButtonActionSubmit(text: "Confirma edição de Cliente")
                            @Html.ButtonLinkIndex(text: "Cancelar", action: "VoltarBaseCliente", controller: "Cadastros")
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-10 col-md-10 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cliente - Fotografia</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                @using (Html.BeginForm("UploadFotoCliente", "Cadastros", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id="pwd-container3" }))
                {
                    <div class="ibox-content">
                        <input type="file" name="file" id="file" class="btn btn-sm btn-warning"/>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Incluir Fotografia do Cliente" class="btn btn-sm btn-success" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br />
                        @if (!String.IsNullOrEmpty(Model.CLIE_AQ_FOTO))
	                    {
                            <img src="@Url.Content(Model.CLIE_AQ_FOTO)" style = "width: auto; height: auto; max-height: 110px; max-width: 90px;">
                        }
                        else
                        {
                            <img src="~/Images/gallery/10s.jpg" style = "width: auto; height: auto; max-height: 110px; max-width: 90px;">
                        }
                    </div>                       
                </div>
            </div>
         </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cliente - Anexos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                @using (Html.BeginForm("UploadFileCliente", "Cadastros", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id="pwd-container2" }))
                {
                    <div class="ibox-content">
                        @if (Model.CLIENTE_ANEXO.Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Data</th>
                                        <th>Tipo</th>
                                        <th class="td-one-action">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (Model.CLIENTE_ANEXO))
                                    {
                                        <tr>
                                            <td>@cond.CLAN_NM_TITULO</td>
                                            <td>@cond.CLAN_DT_ANEXO.ToShortDateString()</td>
                                            @if (cond.CLAN_IN_TIPO == 1)
	                                        {
                                                <td>Imagem</td>
                                            }
                                            else
                                            {
                                                <td>Arquivo</td>
                                            }
                                            <td class="td-one-action">
                                                @if (cond.CLAN_IN_TIPO == 1)
	                                            {
                                                    @Html.TableLinkDetails(cond.CLAN_CD_ID, "VerAnexoCliente","fa-camera", "Visualizar")
	                                            }
                                                @Html.TableLinkDetails(cond.CLAN_CD_ID, "DownloadCliente","fa-download", "Download")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        <br />
                        <input type="file" name="file" id="file" class="btn btn-sm btn-warning"/>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Incluir Anexo do Cliente" class="btn btn-sm btn-success" />
                            @Html.ButtonLinkIndex(text: "Cancelar", action: "VoltarBaseCliente", controller: "Cadastros")
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}
@section Scripts {
   
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
