@using Presentation.Extensions
@using CrossCutting;
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Movimentação de Estoque - Saída</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Movimentação de Estoque - Saída</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <br />
                                <span class="btn btn-success btn-sm" onclick="MostraModal()">Novo Filtro</span>
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "Estoque", action: "Voltar")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    @if (ViewBag.IsProdIns == 1)
                    {
                        <h5>Produtos - Saída</h5>
                    }
                    else
                    {
                        <h5>Insumos - Saída</h5>
                    }
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (ViewBag.listaMvmtProduto == null && ViewBag.listaMvmtMateria == null)
                    {
                        <div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="filtroModalLabel">Filtrar seleção</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid" id="alert" style="display: none;">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <div class="alert alert-danger" role="alert"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    Produto/Insumo
                                                    @Html.DropDownList("FiltroMvmtEstoque", (SelectList)ViewBag.ProdutoInsumo, "Selecionar", new { @class = "form-control", id = "filtroPM", onchange = "FiltrarModal($(this).val())" })
                                                    <br />
                                                </div>
                                            </div>
                                        </div>

                                        @*Filtro Produto*@
                                        <div class="container-fluid" id="prodContainer" style="display: none;">
                                            <div class="row">
                                                <h3>Produto</h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Data de Movimentação
                                                    <input type="text" class="form-control date-picker" id="dtMovmtProd" />
                                                </div>
                                                @if (ViewBag.PerfilUsu != 1 && ViewBag.PerfilUsu != 2)
                                                {
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Filial
                                                        @Html.TextBox("Filial", (String)ViewBag.FilialUsuario, new { @class = "form-control", @readonly = "readonly", id = "filialProd" })
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Filial
                                                        @Html.DropDownList("Filiais", (SelectList)ViewBag.Filiais, "Selecionar", new { @class = "form-control", id = "filialProd" })
                                                    </div>
                                                }
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Categoria do Produto
                                                    @Html.DropDownList("Categoria", (SelectList)ViewBag.CatProd, "Selecionar", new { @class = "form-control", id = "catProd" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Subcategoria do Produto
                                                    @Html.DropDownList("Subcategoria", (SelectList)ViewBag.SubCatProd, "Selecionar", new { @class = "form-control", id = "subProd" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Nome
                                                    <input type="text" class="form-control" id="nomeProd" />
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Código de Barras
                                                    <input type="text" class="form-control" id="cdBarrasProd" />
                                                </div>
                                            </div>
                                        </div>

                                        @*Filtro Insumo*@
                                        <div class="container-fluid" id="insContainer" style="display: none;">
                                            <div class="row">
                                                <h3>Insumo</h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Data de Movimentação
                                                    <input type="text" class="form-control date-picker" id="dtMovmtIns" />
                                                </div>
                                                @if (ViewBag.PerfilUsu != 1 && ViewBag.PerfilUsu != 2)
                                                {
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Filial
                                                        @Html.TextBox("Filial", (String)ViewBag.FilialUsuario, new { @class = "form-control", @readonly = "readonly", id = "filialIns" })
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        Filial
                                                        @Html.DropDownList("Filiais", (SelectList)ViewBag.Filiais, "Selecionar", new { @class = "form-control", id = "filialIns" })
                                                    </div>
                                                }
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Categoria do Insumo
                                                    @Html.DropDownList("Categoria", (SelectList)ViewBag.CatIns, "Selecionar", new { @class = "form-control", autofocus = true, id = "catIns" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Subcategoria do Insumo
                                                    @Html.DropDownList("Subcategoria", (SelectList)ViewBag.SubCatIns, "Selecionar", new { @class = "form-control", autofocus = true, id = "subIns" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome
                                                    <input class="form-control" type="text" id="nomeIns" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" onclick="Filtrar()">Filtrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (ViewBag.IsProdIns == 1)
                        {
                            if ((ViewBag.listaMvmtProduto as List<EntitiesServices.Model.MOVIMENTO_ESTOQUE_PRODUTO>).Count > 0)
                            {
                                <div class="row">
                                    <table id="tblProd" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead style="background-color:lightsteelblue">
                                            <tr>
                                                <th>Nome</th>
                                                <th>Código de Barras</th>
                                                <th>Filial</th>
                                                <th>Data de Movimentação</th>
                                                <th>Quantidade</th>
                                                <th>Tipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cond in (ViewBag.listaMvmtProduto as List<EntitiesServices.Model.MOVIMENTO_ESTOQUE_PRODUTO>))
                                            {
                                                <tr>
                                                    <td style="display: none;"><input type="hidden" name="id" value="@cond.PROD_CD_ID" /></td>
                                                    <td>@cond.PRODUTO.PROD_NM_NOME</td>
                                                    <td>@cond.PRODUTO.PROD_NR_BARCODE</td>
                                                    @if (cond.FILIAL == null)
                                                    {
                                                        <td>Sem Filial</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@cond.FILIAL.FILI_NM_NOME</td>
                                                    }
                                                    <td>@cond.MOEP_DT_MOVIMENTO</td>
                                                    <td>@cond.MOEP_QN_QUANTIDADE</td>
                                                    <td>@cond.MOEP_IN_TIPO_MOVIMENTO</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <br />
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaMovimentacaoEntrada", controller: "Estoque", buttonClass: "warning")
                                </div>
                            }
                        }
                        else
                        {
                            if ((ViewBag.listaMvmtMateria as List<EntitiesServices.Model.MOVIMENTO_ESTOQUE_MATERIA_PRIMA>).Count > 0)
                            {
                                <div class="row">
                                    <table id="tblIns" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead style="background-color:lightsteelblue">
                                            <tr>
                                                <th>Nome</th>
                                                <th>Filial</th>
                                                <th>Data de Movimentação</th>
                                                <th>Quantidade</th>
                                                <th>Tipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cond in (ViewBag.listaMvmtMateria as List<EntitiesServices.Model.MOVIMENTO_ESTOQUE_MATERIA_PRIMA>))
                                            {
                                                <tr>
                                                    <td style="display: none;"><input type="hidden" name="id" value="@cond.MAPR_CD_ID" /></td>
                                                    <td>@cond.MATERIA_PRIMA.MAPR_NM_NOME</td>
                                                    @if (cond.FILIAL == null)
                                                    {
                                                        <td>Sem Filial</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@cond.FILIAL.FILI_NM_NOME</td>
                                                    }
                                                    <td>@cond.MOEM_DT_MOVIMENTO</td>
                                                    <td>@cond.MOEM_QN_QUANTIDADE</td>
                                                    <td>@cond.MOEM_IN_TIPO_MOVIMENTO</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <br />
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaMovimentacaoEntrada", controller: "Estoque", buttonClass: "warning")
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script>
        $('#filtroModal').modal({
            backdrop: 'static'
        });
        $('#filtroModal').modal('show');

        function FiltrarModal(val) {
            if (val == 1) {
                $('#prodContainer').show();
                $('#insContainer').hide();
            } else {
                $('#insContainer').show();
                $('#prodContainer').hide();
            }
        }

        function Filtrar() {
            var pm = $('#filtroPM').val();

            var data = {}

            if (pm == 1) {
                var PRODUTO = {
                    "CAPR_CD_ID": $('#catProd').val()
                    , "PROD_NM_NOME": $('#nomeProd').val()
                    , "PROD_NR_BARCODE": $('#cdBarras').val()
                    , "SCPR_CD_ID": $('#subProd').val()
                }

                var item = {
                    "MOEP_DT_MOVIMENTO": $('#dtMovmtProd').val()
                    , "PRODUTO": PRODUTO
                    , "FILI_CD_ID": $('#filialProd').val() == "" ? null : $('#filialProd').val()
                }

                data = {
                    prod: item
                    , ins: null
                    , filtroES: 2
                }
            } else {
                var MATERIA_PRIMA = {
                    "CAMA_CD_ID": $('#catIns').val()
                    , "SCMP_CD_ID": $('#subIns').val()
                    , "MAPR_NM_NOME": $('#nomeIns').val()
                }

                var item = {
                    "MOEM_DT_MOVIMENTO": $('#dtMovmtIns').val()
                    , "MATERIA_PRIMA": MATERIA_PRIMA
                    , "FILI_CD_ID": $('#filialIns').val() == "" ? null : $('#filialIns').val()
                }

                data = {
                    prod: null
                    , ins: item
                    , filtroES: 2
                }
            }

            $.ajax({
                url: '../Estoque/FiltrarMovimentacao'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    if (r.url != null) {
                        window.open(r.url, '_self');
                    } else {
                        $('#alert').find('.alert').html(r.error);
                        $('#alert').show();
                    }
                }
            });
        }

        function MostraModal() {
            $.ajax({
                url: '../Estoque/LimpaListas'
                , type: 'POST'
            });

            window.location.reload();
        }
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

