@using Presentation.Extensions
@model SystemBRPresentation.ViewModels.ContratoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Contratos</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarAdmin", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaContrato", "GestaoComercial")">Contratos</a>
            </li>
            <li>
                <a href="@Url.Action("WorkflowContrato", "GestaoComercial")">Contratos - Workflow</a>
            </li>
            <li class="active">
                <strong>Contrato - Visualização</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="widget style1 yellow-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        @if (Model.CONT_IN_CANCELADO == 1)
	                    {
                            <h3 class="font-normal">Cancelado</h3>
                        }
                        else
                        {
                            <h3 class="font-normal">Ativo</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (Model.CONT_IN_CANCELADO == 0)
        {
            <div class="col-lg-2">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            @if (Model.CONT_IN_WORKFLOW == 1)
	                        {
                                <h3 class="font-normal">Aprovação</h3>
                            }
                            else if (Model.CONT_IN_WORKFLOW == 2)
                            {
                                <h3 class="font-normal">Preparação</h3>
                            }
                            else if (Model.CONT_IN_WORKFLOW == 3)
                            {
                                <h3 class="font-normal">Operação</h3>
                            }
                            else if (Model.CONT_IN_WORKFLOW == 4)
                            {
                                <h3 class="font-normal">Encerramento</h3>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Contrato - Visualização</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">Dados Financeiros</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">Descrição</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4">Informações Contábeis</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-5">Observações</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-6">Comissões</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-7">Anexos</a></li>
                        </ul>
                        <div class="tab-content">
                           
                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VisualizarContrato", "GestaoComercial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                                        {
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Categoria*
                                                    @Html.TextBoxFor(m => m.CATEGORIA_CONTRATO.CACT_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Tipo de Contrato
                                                    @Html.TextBoxFor(m => m.TIPO_CONTRATO.TICT_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Template 
                                                    @Html.TextBoxFor(m => m.TEMPLATE.TEMP_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Cliente* 
                                                    @Html.TextBoxFor(m => m.CLIENTE.CLIE_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Número*
                                                    @Html.TextBoxFor(m => m.CONT_NM_NUMERO_CONTRATO, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    Nome do Contrato*
                                                    @Html.TextBoxFor(m => m.CONT_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Data Inicial*
                                                    @Html.TextBoxFor(m => m.CONT_DT_INICIO,"{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Data Final
                                                    @Html.TextBoxFor(m => m.CONT_DT_FINAL, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Carência (dias)
                                                    @Html.TextBoxFor(m => m.CONT_NR_CARENCIA, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Objeto do Contrato
                                                    @Html.TextAreaFor(m => m.CONT_DS_DESCRICAO, new { @class = "form-control", style = "width: 1040px; height: 200px;", autofocus = true, @readonly="readonly"})
                                                </div>
                                            </div>
                                        </div>
                                    }
                             
                                </div>
                            </div>

                            @*Dados Financeiros*@
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VisualizarContrato", "GestaoComercial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                                        {
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Valor*
                                                    @Html.TextBoxFor(m => m.CONT_VL_VALOR, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Dia Pagamento
                                                    @Html.TextBoxFor(m => m.CONT_NR_DIA_PAGAMENTO, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Periodicidade
                                                    @Html.TextBoxFor(m => m.PERIODICIDADE.PERI_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Forma de Pagamento 
                                                    @Html.TextBoxFor(m => m.FORMA_PAGAMENTO.FOPA_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Último Reajuste
                                                    @Html.TextBoxFor(m => m.CONT_DT_ULTIMO_REAJUSTE, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Próximo Reajuste
                                                    @Html.TextBoxFor(m => m.CONT_DT_PROXIMO_REAJUSTE, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Período da cobrança
                                                    @Html.TextBoxFor(m => m.CONT_IN_PERIODO_COBRANCA, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                             
                                </div>
                            </div>

                            @*Descrição*@
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VisualizarContrato", "GestaoComercial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                                        {
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Descrição do Contrato
                                                    @Html.TextAreaFor(m => m.CONT_DS_DESCRICAO_DETALHADA, new { @class = "form-control", style = "width: 1040px; height: 400px;", autofocus = true, @readonly="readonly"})
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            @*Informações Contábeis*@
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VisualizarContrato", "GestaoComercial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                                        {
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Conta Contábil
                                                    @Html.TextBoxFor(m => m.PLANO_CONTA.PLCO_NM_CONTA, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Centro de Custos
                                                    @Html.TextBoxFor(m => m.CENTRO_CUSTO.CECU_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Nomenc.Bras. de Serviços
                                                    @Html.TextBoxFor(m => m.NOMENCLATURA_BRAS_SERVICOS.NBSE_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Sincronizar Financeiro?
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.Sincronizar, new { @class = "checkbox i-checks", autofocus = true, @readonly="readonly"})
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Emitir NF?
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.NF, new { @class = "checkbox i-checks", autofocus = true, @readonly="readonly"})
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Reter ISS?
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.ISS, new { @class = "checkbox i-checks", autofocus = true, @readonly="readonly"})
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Reter IR?
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.IR, new { @class = "checkbox i-checks", autofocus = true, @readonly="readonly"})
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Texto da Nota Fiscal
                                                    @Html.TextAreaFor(m => m.CONT_DS_TEXTO_NF, new { @class = "form-control", style = "width: 1040px; height: 200px;", autofocus = true, @readonly="readonly"})
                                                </div>
                                            </div>
                                        </div>
                                    }
                             
                                </div>
                            </div>

                            @*Observações*@
                            <div id="tab-5" class="tab-pane">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VisualizarContrato", "GestaoComercial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                                        {
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Observações
                                                    @Html.TextAreaFor(m => m.CONT_TX_OBSERVACOES, new { @class = "form-control", style = "width: 1040px; height: 400px;", autofocus = true, @readonly="readonly"})
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            @*Comissões*@
                            <div id="tab-6" class="tab-pane">
                                <div class="panel-body">
                                    @using (Html.BeginForm("VisualizarContrato", "GestaoComercial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                                        {
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Vendedor
                                                    @Html.TextBoxFor(m => m.COLABORADOR.COLA_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Parcelas
                                                    @Html.TextBoxFor(m => m.CONT_NR_PARCELAS, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Perc.Parcelas (%)
                                                    @Html.TextBoxFor(m => m.CONT_PC_PERCENT_PARCELAS, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                             
                                </div>
                            </div>

                            @*Anexos*@
                            <div id="tab-7" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <hr />
                                        <div class="col-lg-12 col-md-12 col-xs-12"> 
                                            <h4>Anexos do Contrato</h4>
                                            <br />
                                            <div class="form-group">
                                                @using (Html.BeginForm("UploadFileContrato", "GestaoComercial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id="pwd-container2" }))
                                                {
                                                    <div class="ibox-content">
                                                        @if (Model.CONTRATO_ANEXO.Count > 0)
                                                        {
                                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Título</th>
                                                                        <th>Data</th>
                                                                        <th>Tipo</th>
                                                                        <th class="td-one-action">Ações</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var cond in (Model.CONTRATO_ANEXO))
                                                                    {
                                                                        <tr>
                                                                            <td>@cond.COAN_NM_TITULO</td>
                                                                            <td>@cond.COAN_DT_ANEXO.ToShortDateString()</td>
                                                                            @if (cond.COAN_IN_TIPO == 1)
	                                                                        {
                                                                                <td>Imagem</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>Arquivo</td>
                                                                            }
                                                                            <td class="td-one-action">
                                                                                @if (cond.COAN_IN_TIPO == 1)
	                                                                            {
                                                                                    @Html.TableLinkDetails(cond.COAN_CD_ID, "VerAnexoContrato","fa-camera", "Visualizar")
	                                                                            }
                                                                                @Html.TableLinkDetails(cond.COAN_CD_ID, "DownloadContrato","fa-download", "Download")
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    @Html.ButtonLinkIndex(text: "Cancelar", action: "VoltarBaseContrato", controller: "GestaoComercial")
                </div>
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}
@section Scripts {
   
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Excel' },
                    { extend: 'pdf', title: 'PDF' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
            .css("display", "normal")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Selecione uma data",
                text: false 
            });
        });
    </script>  
    <script type="text/javascript">
        $(".touchspin1").TouchSpin({
            min: 1,
            max: 90,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 1,
            max: 31,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(".touchspin3").TouchSpin({
            min: 1,
            max: 12,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(".touchspin4").TouchSpin({
            min: 1,
            max: 100,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
